.hero {

    background: black;
    height: 600px;
}

.hero-img {

    height: 550px;
    width: 100%;
    filter: blur(1px);
    -webkit-filter: blur(1px);
}

.hero-one {

  border: 1px solid #85756A;
  border-radius: 10px;
  height: 500px;
  width: 400px;
}

.hero-two {

  border: 1px solid #85756A;
  border-radius: 10px;
  margin-left: 700px;
  height: 450px;
  width: 400px;
} */

.image-container {

    position: relative;
    display: inline-block;
    
  }
  
  .overlay-text {

    position: absolute;
    bottom: 70px;
    font-weight: bold;
    left: 55%;
    transform: translateX(-10%);
    color: white;
    padding: 5px 5px;
    font-size: 52px;
    border-radius: 5px;
    z-index: 5;
  } */
  
  .overlay-text-two {

    position: absolute;
    bottom: 50px;
    font-weight: bold;
    left: 10%;
    transform: translateX(-8%);
    color: white;
    padding: 5px 5px;
    font-size: 28px;
    border-radius: 5px;
    z-index: 1;
  }

  .overlay-text-three {

    position: absolute;
    bottom: 360px;
    font-weight: bold;
    left: 40%;
    transform: translateX(-10%);
    color: white;
    padding: 5px 5px;
    font-size: 52px;
    border-radius: 5px;
    z-index: 5;

  }

