.hero {

    background: black;
    height: 600px;
}

.hero-one {

  border: 1px solid #85756A;
  border-radius: 10px;
  height: 500px;
  width: 400px;
  margin-top: 100px;
}

.image-container {

    position: relative;
    display: inline-block;
    
  }
  
  .overlay-text {

    position: absolute;
    bottom: 70px;
    font-weight: bold;
    left: 55%;
    transform: translateX(-10%);
    color: white;
    padding: 5px 5px;
    font-size: 52px;
    border-radius: 5px;
    z-index: 5;
  } 
  
