.subscribe-button {
    background-color: #85756A; /* Orange button */
    color: white;
    border: none;
    border-radius: 0 5px 5px 0;
    padding: 10px 20px;
    cursor: pointer;
    height: 62px;
    margin-top: 3100px;
    left: 34%;
    font-size: 16px;
    outline: none;
    transition: background-color 0.3s ease;
  }
  
  .subscribe-button:hover {
    background-color: #85756A; /* Darker orange on hover */
  }

.subscribe-input{

    height: 60px;
    width: 350px;
  }

  .newsletter {

    height: 460px;
    width: 380px;
    border: 1px solid #85756A;
    border-radius: 10px;

  }



