.current-openings {

    background: black;
   
}

.card {

    border-color: black;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

.btn {

    border: 1px solid #85756A;
    background-color: #85756A;
    color: white
    ;
}
